.md-header__button.md-logo img {
    height: 40px;
}

.md-typeset img, .md-typeset svg, .md-typeset video {
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
    display: block;
}

/* Center Buttons */

.md-typeset p:has(> .md-button-center) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.675rem;
}

@media (max-width: 768px) {
    .md-typeset p:has(> .md-button-center) {
        grid-template-columns: 1fr;
    }
}


/* Navigation */

[data-md-color-primary=black] .md-tabs {
    border-top: 2px solid hsla(var(--md-hue), 48%, 50%, 1);
    background-color: hsla(var(--md-hue), 48%, 50%, 0.3);
    backdrop-filter: blur(15px);
}

.md-tabs {
    border-top: 2px solid transparent;
}

