.fade-in {
	animation: fade-in-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px) translateX(-50%);
        transform: translateY(50px) translateX(-50%);
        opacity: 0;
        filter: blur(15px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(-50%);
                transform: translateY(0) translateX(-50%);
        opacity: 1;
        filter: blur(0);
    }
}


@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px) translateX(-50%);
        transform: translateY(50px) translateX(-50%);
        opacity: 0;
        filter: blur(15px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(-50%);
        transform: translateY(0) translateX(-50%);
        opacity: 1;
        filter: blur(0);
    }
}